<h1>About Us</h1>

<p>These are our elements (<%= @team_members.count %>):</p>
<ul>
  <!-- line 6 executes but does not print to the html -->
  <% @team_members.each do |member| %>
    <!-- line 8 prints to the html -->
    <li><%= member %></li>
  <% end %>
</ul>
