<h1>Restaurants</h1>

<ul>
  <!-- iterate over the @restaurants array -->
  <!-- for each restaurant build a <li></li> containing the restaurant name and a link to the show page -->
</ul>

<a href="/restaurants/new">New restaurant</a>
